.mb-10{
	padding: 20px 0;
	margin-bottom: 40px;
}

.align24{
	justify-content:center;
} 

.menu ul li{
	font-size: 25px;
}
.menu ul li:hover{
	background-color: black;
	color: white;
}
.header,.hero,.body,.bar,.footer{
	margin-bottom: 10px;
	background-color: teal;
}
.box{
	margin: 10px 0;
	min-height: 100px;
	font-size:40px;
	color: white;
	background-color: red;
}
.black{
	background-color: black;
}
.five{
	background-color: green;
}
